%h1
  Baggage Claim
  = link_to 'Check baggage', new_hacker_path, class: 'btn pull-right'

- if @hackers.any?
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Owner's Name
        %th Cell Number
        %th Items
    %tbody
      - @hackers.each do |hacker|
        %tr
          %td= hacker.name
          %td= hacker.cell
          %td= # will have items array
- else
  .hero-unit
    %h1 No baggage!
    %p Click the button above to check some baggage in.
