// Place all the styles related to the hackers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.main tbody {
  tr:hover {
    position: relative;

    td {
      background: #ffffcc !important;
    }

    .edit {
      display: block !important;
      position: absolute;
      right: 0;
    }
  }
}

table.items {
   width: 100%;
}
