!!!
%html
  %head
    %title Baggage
    = stylesheet_link_tag 'application', controller.controller_name, media: 'all'
    = javascript_include_tag 'application', 'app-wide', controller.controller_name
    = csrf_meta_tags
  %body.container
    = yield
